@model WarehouseMVC_DAL.Models.Article
@using WarehouseMVC.Infrastructure

@{
    ViewBag.Title = "Details";
}

<h2>Détail de l'article</h2>

<p>
    @Html.ActionLink("Créer un article", "Create")
</p>
<hr />
<div class="jumbotron">
    @DateTime.Now.ToString("dd/MM/yyyy")<br />
    @SessionManager.Utilisateur.Nom @SessionManager.Utilisateur.Prenom
    <div class="col-lg-offset-1">
        <h3>@Html.DisplayFor(model => model.Nom)</h3>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            Prix d'achat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixAchat) €
        </dd>

        <dt>
            Prix de vente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixVente) €
        </dd>

        <dt>
            Catégorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorieNom)
        </dd>

        <dt>
            Stock actuel
        </dt>

        <dd>
            @ViewBag.Stock
        </dd>
        <br />
        <dt>
            Fournisseurs
        </dt>
        <dd>
            @foreach (var element in Model.ListFournisseur)
            {
                @Html.DisplayFor(m => element.Nom)
                <br />
            }
        </dd>
    </dl>

    @Html.ActionLink("Modifier", "Edit", new { id = Model.ArticleId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Créer une réception", "Create", "Reception", new { id = Model.ArticleId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Mouvements de stock", "GetMoveStock_By_ArticleId", "Stock", new { id = Model.ArticleId }, new { @class = "btn btn-default" })
</div>
<p>
    @Html.ActionLink("<<< Retour à la liste", "Index")
</p>
