@model IEnumerable<WarehouseMVC_DAL.Models.Article>
@using WarehouseMVC.Infrastructure

@{
    ViewBag.Title = "Index";
}

<h2>Liste des articles</h2>

<p>
    @Html.ActionLink("Ajouter un article", "Create")
</p>

<div class="jumbotron">
    @DateTime.Now.ToString("dd/MM/yyyy")<br />
    @SessionManager.Utilisateur.Nom @SessionManager.Utilisateur.Prenom

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorieNom)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieNom)
        </td>
        <td>
            @Html.ActionLink("Fiche article", "Details", new { id = item.ArticleId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Créer une réception", "Create", "Reception", new { id = item.ArticleId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Modifier", "Edit", new { id = item.ArticleId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.ArticleId }, new { @class = "btn btn-default" })
        </td>
    </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("<<< Retour à l'accueil", "Index", "Home")
</div>
