@model IEnumerable<WarehouseMVC_DAL.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des catégories d'article</h2>

<p>
    @Html.ActionLink("Créer une nouvelle catégorie", "Create")
</p>
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.CategorieId }) |
                    @Html.ActionLink("Afficher les détails ", "Details", new { id = item.CategorieId }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.CategorieId })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
