@model IEnumerable<WarehouseMVC_DAL.Models.Expedition>
@using WarehouseMVC.Infrastructure

@{
    ViewBag.Title = "Index";
}

<h2>Expéditions en attente</h2>

<p>
    @Html.ActionLink("Créer une nouvelle expédition", "Create")
</p>
<div class="jumbotron">
    @DateTime.Now.ToString("dd/MM/yyyy")<br />
    @SessionManager.Utilisateur.Nom @SessionManager.Utilisateur.Prenom
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpeditionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorieNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNomSociete)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpeditionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorieNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNom) @Html.DisplayFor(modelItem => item.ClientPrenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNomSociete)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ExpeditionId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Voir les détails", "Details", new { id = item.ExpeditionId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Confirmer l'expédition", "ConfirmExpedition", new { id = item.ExpeditionId }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("<<< Retour à l'accueil", "Index", "Home")
</div>
