@model PagedList.IPagedList<WarehouseMVC_DAL.Models.Stock>
@using PagedList.Mvc;
@using WarehouseMVC.Infrastructure

@{
    ViewBag.Title = "GetMoveStock_By_ArticleId";
}

<h2>Mouvements de stock</h2>


@DateTime.Now.ToString("dd/MM/yyyy")
<br />
@SessionManager.Utilisateur.Nom @SessionManager.Utilisateur.Prenom
<h4>@ViewBag.ArticleRef</h4>
<table class="table">
    <tr>
        <th>
            N°
        </th>
        <th>
            Date
        </th>
        <th>
            Activite
        </th>
        <th>
            N° Article
        </th>
        <th>
            Article
        </th>
        <th>
            Quantité
        </th>
        <th>
            Stock
        </th>
        <th>
            ID Utilisateur
        </th>
        <th>
            Utilisateur
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockId)
            </td>
            <td>
                @item.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStock)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UtilisateurId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilisateurNom)
            </td>
        </tr>
    }

</table>

<a href="@ViewBag.BoutonRetour"><h5><b>&lt;&lt;&lt; Retour à l'article</b></h5> </a>
